.btn {
    background-color: #222;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border: none;
    color: #fff;
}

.btn:hover {
    color: #ffbb33;
}

@media (max-width: 768px) {
    .btn {
        padding: 1em 1.5em;
        margin-top: .5em;
        font-size: 14px;
        font-weight: bold;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .btn {
        padding: .8em 2em;
        font-size: 16px;
        margin-top: .5em;
    }
}