.new_project_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.new_project_container h1 {
    margin-bottom: 1.5em;
}

.new_project_container p {
    color: #7b7b7b;
}

@media (max-width: 768px) {
    .new_project_container h1 {
        font-size: 32px;
        margin-bottom: .5em;
    }

    .new_project_container p {
        font-size: 18px;
    }
}