.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min_height {
    min-height: 75%;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        overflow: hidden;
    }
}